div#respuesta{
    display: none;
}
.caja{
    width: 280px;
    height: 80px;
    position: sticky;
    top: 30px; left: 400px;
}
h1{
    color: #d187dddd;
    text-decoration: line-through;
}

body {
    background-color: #c7f9f7;
}
